APP_NAME=database-service
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_URL=postgresql+psycopg://smile:smile@postgres:5432/smileschedule
POSTGRES_DB=smileschedule
POSTGRES_USER=smile
POSTGRES_PASSWORD=smile
PGADMIN_DEFAULT_EMAIL=admin@smileschedule.local
PGADMIN_DEFAULT_PASSWORD=admin

